{
    email   admin@tharindur.dev
}

tharindur.dev, www.tharindur.dev {
    root site-data
    templates
    file_server {
        hide .git
    }
}

portainer.tharindur.dev {
    reverse_proxy zeus:9443
        transport http {
            tls
            tls_insecure_skip_verify
        }
}

plex.tharindur.dev {
    reverse_proxy apollo:32400
}

jellyfin.tharindur.dev {
    reverse_proxy apollo:8096
}

sonarr.tharindur.dev {
    reverse_proxy apollo:8989
}

pihole.tharindur.dev {
    reverse_proxy zeus:8080
}

homebridge.tharindur.dev {
    reverse_proxy zeus:8581
}

homeassistant.tharindur.dev {
    reverse_proxy zeus:8123
}
