{
    email   admin@tharindur.dev
}

tharindur.dev, www.tharindur.dev {
    root site-data
    templates
    file_server {
        hide .git
    }
}

portainer.tharindur.dev {
    reverse_proxy ares:9443
}

plex.tharindur.dev {
    reverse_proxy apollo:32400
}

sonarr.tharindur.dev {
    reverse_proxy apollo:30113
}

pihole.tharindur.dev {
    reverse_proxy ares:8080
}

homebridge.tharindur.dev {
    reverse_proxy ares:8581
}

homeassistant.tharindur.dev {
    reverse_proxy ares:8123
}
